<div class="board ready">
  <div class="row">
    <div class="square" data-square="a8">♜</div>
    <div class="square" data-square="b8">♞</div>
    <div class="square" data-square="c8">♝</div>
    <div class="square" data-square="d8">♛</div>
    <div class="square" data-square="e8">♚</div>
    <div class="square" data-square="f8">♝</div>
    <div class="square" data-square="g8">♞</div>
    <div class="square" data-square="h8">♜</div>
  </div>
  <div class="row">
    <div class="square" data-square="a7">♟</div>
    <div class="square" data-square="b7">♟</div>
    <div class="square" data-square="c7">♟</div>
    <div class="square" data-square="d7">♟</div>
    <div class="square" data-square="e7">♟</div>
    <div class="square" data-square="f7">♟</div>
    <div class="square" data-square="g7">♟</div>
    <div class="square" data-square="h7">♟</div>
  </div>
  <div class="row">
    <div class="square" data-square="a6"></div>
    <div class="square" data-square="b6"></div>
    <div class="square" data-square="c6"></div>
    <div class="square" data-square="d6"></div>
    <div class="square" data-square="e6"></div>
    <div class="square" data-square="f6"></div>
    <div class="square" data-square="g6"></div>
    <div class="square" data-square="h6"></div>
  </div>
  <div class="row">
    <div class="square" data-square="a5"></div>
    <div class="square" data-square="b5"></div>
    <div class="square" data-square="c5"></div>
    <div class="square" data-square="d5"></div>
    <div class="square" data-square="e5"></div>
    <div class="square" data-square="f5"></div>
    <div class="square" data-square="g5"></div>
    <div class="square" data-square="h5"></div>
  </div>
  <div class="row">
    <div class="square" data-square="a4"></div>
    <div class="square" data-square="b4"></div>
    <div class="square" data-square="c4"></div>
    <div class="square" data-square="d4"></div>
    <div class="square" data-square="e4"></div>
    <div class="square" data-square="f4"></div>
    <div class="square" data-square="g4"></div>
    <div class="square" data-square="h4"></div>
  </div>
  <div class="row">
    <div class="square" data-square="a3"></div>
    <div class="square" data-square="b3"></div>
    <div class="square" data-square="c3"></div>
    <div class="square" data-square="d3"></div>
    <div class="square" data-square="e3"></div>
    <div class="square" data-square="f3"></div>
    <div class="square" data-square="g3"></div>
    <div class="square" data-square="h3"></div>
  </div>
  <div class="row">
    <div class="square" data-square="a2">♙</div>
    <div class="square" data-square="b2">♙</div>
    <div class="square" data-square="c2">♙</div>
    <div class="square" data-square="d2">♙</div>
    <div class="square" data-square="e2">♙</div>
    <div class="square" data-square="f2">♙</div>
    <div class="square" data-square="g2">♙</div>
    <div class="square" data-square="h2">♙</div>
  </div>
  <div class="row">
    <div class="square" data-square="a1">♖</div>
    <div class="square" data-square="b1">♘</div>
    <div class="square" data-square="c1">♗</div>
    <div class="square" data-square="d1">♕</div>
    <div class="square" data-square="e1">♔</div>
    <div class="square" data-square="f1">♗</div>
    <div class="square" data-square="g1">♘</div>
    <div class="square" data-square="h1">♖</div>
  </div>
</div>
