<div class="card-section">
  <div class="card-item card-item-full">
    <a href="#" class="button new-game">new game</a>
  </div>
  <div class="card-item card-item-full">
    <label for="duration">strength
      <select id="duration">
        <option value="4">Weak - 4 seconds</option>
        <option value="16">Normal - 16 seconds</option>
        <option value="32">Full - 32 seconds</option>
      </select>
    </label>
  </div>
</div>
