<div class="container">
  <div class="row">
    <div id="left">
      <div class="board-container">
        <table id="board"></table>
      </div>
    </div>
    <div id="right">
      <div class="report-container">
        <div id="report"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <div id="fen"></div>
    </div>
    <div class="six columns">
      <div id="npp"></div>
    </div>
  </div>
</div>
