<div class="container">
  <div class="row">
    <div id="left">
      <button type="button" id="new-game">new game</button>
      <table id="board">

      </table>
    </div>
    <div id="right">
      <div id="report"></div>
    </div>
  </div>
  <div class="row" id="gfx">

  </div>
  <div class="row">
    <div class="six columns">
      <div id="fen"></div>
    </div>
  </div>
</div>
