<main>
  <section class="page-section" id="menu">
    <div class="wrapper">
      <%= erb :menu %>
    </div>
  </section>
  <section class="page-section" id="game">
    <div class="wrapper">
      <%= erb :game %>
    </div>
  </section>
  <section class="page-section" id="about">
    <div class="wrapper">
      <%= erb :about %>
    </div>
  </section>
  <section class="page-section" id="footer">
    <div class="wrapper">
      <%= erb :footer %>
    </div>
  </section>
</main>
