<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chstr Chess Engine</title>
    <meta name="description" content="Play Chess against Chstr, a clever Chess Engine written in Ruby!">
    <meta name="author" content="Scott Michael Rogers">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="assets/application.css" media="screen" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="assets/application.js"></script>
  </head>

  <body>
    <div class="section">
      <div class="container">
        <nav class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="#">Chstr</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">About</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#">License</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="section">
      <%= yield %>
    </div>
  </body>

</html>
