<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>chsr</title>
    <meta content="Chstr Chess Engine" name="description">
    <meta content="Scott Michael Rogers" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="images/favicon.png" rel="icon" type="image/png">
    <link charset="utf-8" href="assets/application.css" media="screen" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
    <script src="assets/application.js"></script>
  </body>
</html>
