<div class="card-section">
  <div class="pv">
    <div class="pv-row">
      <div class="pv-square" data-pv="a8"></div>
      <div class="pv-square" data-pv="b8"></div>
      <div class="pv-square" data-pv="c8"></div>
      <div class="pv-square" data-pv="d8"></div>
      <div class="pv-square" data-pv="e8"></div>
      <div class="pv-square" data-pv="f8"></div>
      <div class="pv-square" data-pv="g8"></div>
      <div class="pv-square" data-pv="h8"></div>
    </div>
    <div class="pv-row">
      <div class="pv-square" data-pv="a7"></div>
      <div class="pv-square" data-pv="b7"></div>
      <div class="pv-square" data-pv="c7"></div>
      <div class="pv-square" data-pv="d7"></div>
      <div class="pv-square" data-pv="e7"></div>
      <div class="pv-square" data-pv="f7"></div>
      <div class="pv-square" data-pv="g7"></div>
      <div class="pv-square" data-pv="h7"></div>
    </div>
    <div class="pv-row">
      <div class="pv-square" data-pv="a6"></div>
      <div class="pv-square" data-pv="b6"></div>
      <div class="pv-square" data-pv="c6"></div>
      <div class="pv-square" data-pv="d6"></div>
      <div class="pv-square" data-pv="e6"></div>
      <div class="pv-square" data-pv="f6"></div>
      <div class="pv-square" data-pv="g6"></div>
      <div class="pv-square" data-pv="h6"></div>
    </div>
    <div class="pv-row">
      <div class="pv-square" data-pv="a5"></div>
      <div class="pv-square" data-pv="b5"></div>
      <div class="pv-square" data-pv="c5"></div>
      <div class="pv-square" data-pv="d5"></div>
      <div class="pv-square" data-pv="e5"></div>
      <div class="pv-square" data-pv="f5"></div>
      <div class="pv-square" data-pv="g5"></div>
      <div class="pv-square" data-pv="h5"></div>
    </div>
    <div class="pv-row">
      <div class="pv-square" data-pv="a4"></div>
      <div class="pv-square" data-pv="b4"></div>
      <div class="pv-square" data-pv="c4"></div>
      <div class="pv-square" data-pv="d4"></div>
      <div class="pv-square" data-pv="e4"></div>
      <div class="pv-square" data-pv="f4"></div>
      <div class="pv-square" data-pv="g4"></div>
      <div class="pv-square" data-pv="h4"></div>
    </div>
    <div class="pv-row">
      <div class="pv-square" data-pv="a3"></div>
      <div class="pv-square" data-pv="b3"></div>
      <div class="pv-square" data-pv="c3"></div>
      <div class="pv-square" data-pv="d3"></div>
      <div class="pv-square" data-pv="e3"></div>
      <div class="pv-square" data-pv="f3"></div>
      <div class="pv-square" data-pv="g3"></div>
      <div class="pv-square" data-pv="h3"></div>
    </div>
    <div class="pv-row">
      <div class="pv-square" data-pv="a2"></div>
      <div class="pv-square" data-pv="b2"></div>
      <div class="pv-square" data-pv="c2"></div>
      <div class="pv-square" data-pv="d2"></div>
      <div class="pv-square" data-pv="e2"></div>
      <div class="pv-square" data-pv="f2"></div>
      <div class="pv-square" data-pv="g2"></div>
      <div class="pv-square" data-pv="h2"></div>
    </div>
    <div class="pv-row">
      <div class="pv-square" data-pv="a1"></div>
      <div class="pv-square" data-pv="b1"></div>
      <div class="pv-square" data-pv="c1"></div>
      <div class="pv-square" data-pv="d1"></div>
      <div class="pv-square" data-pv="e1"></div>
      <div class="pv-square" data-pv="f1"></div>
      <div class="pv-square" data-pv="g1"></div>
      <div class="pv-square" data-pv="h1"></div>
    </div>
  </div>
</div>
