<div class="card-section">
  <div class="stats">
    <p id="evaluation"></p>
    <p id="nodes"></p>
    <p id="eps"></p>
    <p id="move"></p>
    <p id="move-score"></p>
    <p id="clock"></p>
  </div>
</div>
