/*************************************
 * lots of unnecessary clearing
 *************************************/
.section::after,
.wrapper::after,
.content::after,
.card::after,
.card-content::after,
.card-middle::after,
.card-condensed::after,
.card-half::after,
#nav::after,
#pv-list::after,
#pv-board::after,
#board::after {
  display: table;
  clear: both;
  content: ""; }

div#nav.section {
  position: relative;
  height: 60px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.05);

  @media (#{$bp-larger-than-tablet}) {
    margin-bottom: 30px;
  }

  @media (#{$bp-larger-than-desktop}) {
    margin-bottom: 40px;
  }

  & > .wrapper {
    color: #fff;
    height: 60px;
    line-height: 60px;
    & > .nav-item {
      font-size: 1.6rem;
      display: block;
      float: left;
    }
  }
}

/*************************************
 * main wrapping/media queries
 *************************************/
.section {
 position: relative;
 width: 100%;
 margin: 0; }

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
  width: 440px;
  @media (#{$bp-larger-than-phablet}) { width: 550px; }
  @media (#{$bp-larger-than-tablet}) { width: 750px; }
  @media (#{$bp-larger-than-desktop}) { width: 960px; }}

.content {
  min-height: 100px;
  position: relative;
  float: left;
  margin-left: 0;

  @media (#{$bp-larger-than-phablet}) {
    margin-left: 50px;
    width: 440px; }

  @media (#{$bp-larger-than-tablet}) {
    &:nth-child(0n+1) { margin-left: 0; }
    &:nth-child(0n+2) {
      margin-left: 20px;
      width: 290px; }}

  @media (#{$bp-larger-than-desktop}) {
    &:nth-child(0n+1) { margin-left: 60px; }
    &:nth-child(0n+2) {
      margin-left: 40px;
      width: 340px; }}}

@media (#{$bp-larger-than-desktop}) {
  .card { margin-bottom: 40px !important; }
  .content { margin-left: 40px; }}


/*************************************
 * sub section formatting
 *************************************/
.card {
  position: relative;
  margin-bottom: 20px;
  border-radius: $border-radius;
  background: #fff;
  padding-bottom: 30px;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1), -4px 6px 12px -2px rgba(0,0,0,0.02);
}

.card-top, .card-middle, .card-bottom, .card-heading, .card-condensed, .card-subheading {
  float: left;
  width: 100%; }

.card-heading {
  padding: 10px 20px 0px 20px;
  line-height: 20px;
  h5 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
    padding: 0; }}

.card-top { padding: 10px 20px 10px 20px; }
.card-middle { padding: 20px 20px; }
.card-bottom { padding: 10px; }

.card-content {
  width: 100%;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative; }
.card-half {
  min-height: 160px;
  margin: 0;
  padding: 10px 0;
  &.left {
    width: 55%;
    float: left; }
  &.right {
    width: 45%;
    float: right; }}

.card-subheading {
  padding: 20px 20px 0 20px;
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1.5rem;
  text-align: right;
  color: darken($light, 20%);
  small { color: $light; }}

.card-vertical-scroll {
  overflow-y: scroll;
  height: 160px; }

.card-condensed {
  padding: 0;
  margin: 0; }

.card-top {
  padding: 0;
  margin: 0;
}


/*************************************
 * formatting
 *************************************/

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.left { float: left; }
.right { float: right; }
//
//
// body {
//   background: #ddd;
//   // background: linear-gradient(to left, #304352 , #d7d2cc);
//   // background: linear-gradient(to left, #ECE9E6 , #FFFFFF);
//   // background: linear-gradient(to left, #8e9eab , #eef2f3);
// }
